<ul>
  <li><a class="content_link" href="/~pwendell/index.html">Main</a>
    <br />About me</li>
  <li><a class="content_link" href="/~pwendell/blog.html">Blog</a>
    <br />Assorted musings</li>
  <li><a class="content_link" href="/~pwendell/research.html">Research</a>
    <br />Position statement &amp; projects</li>
  <li><a class="content_link" href="/~pwendell/publications.html">Publications</a>
    <br />Warning: short list</li>
  <li><a href="/~pwendell/docs/Wendell_Resume.pdf" target="blank">CV (pdf)</a>
    <br />All the details worth knowing...</li>
</ul>
