<ul>
  <li><a class="content_link" href="/index.html">Main</a>
    <br />About me</li>
  <li><a class="content_link" href="/blog.html">Blog</a>
    <br />Assorted musings</li>
  <li><a class="content_link" href="/research.html">Research</a>
    <br />Position statement &amp; projects</li>
  <li><a class="content_link" href="/publications.html">Publications</a>
    <br />Warning: short list</li>
  <li><a href="/docs/Wendell_Resume.pdf" target="blank">CV (pdf)</a>
    <br />All the details worth knowing...</li>
</ul>
